{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="layout__box">
        <div class="layout__boxHeader">
            <div class="layout__boxTitle">
                <h3>Waiting for Email Confirmation</h3>
            </div>
        </div>
        <p>Dear user, please check your registered email inbox for an activation link to confirm and complete your registration. <br>
        <strong>Note:</strong> If you don't see it, be sure to check your spam or junk folder.</p>



        
    </div>
</div>

{% endblock content %}



            <!-- <p>Haven't received the email? 
            <a href="{% url 'request_activation_email' %}">Click here to re-enter your email</a>.
        </p> -->