{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Forget Password</h3>
                </div>
            </div>
            
            {% if messages %}
            <div class="error-messages">
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}

            <div class="layout__body">
                <form method="POST" class="profile-form">
                    {% csrf_token %}
                    <div class="form__group">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" required class="form__input" placeholder="Enter your username">
                    </div>
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required class="form__input" placeholder="Enter your email">
                    </div>
                    
                    <!-- Submit and Back to Login Buttons -->
                    <div class="form__actions">
                        <button type="submit" class="btn btn--main">Submit</button>
                    </div>

                    <div class="auth__action">
                        <a href="{% url 'login' %}" class="btn btn--link">Back to Login</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
