{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">


      <!-- Room List Start -->
      <div class="roomList">
        <div class="container1">
          <div class="room__topLeft">
            <a href="{% url 'home' %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                ></path>
              </svg>
            </a>
            <h2>Home</h2>
          </div>
          <div class="profile">
            <div class="profile__avatar">
              <div class="avatar avatar--large active">
                <img src="{{user.avatar.url}}" />
              </div>
            </div>
            <div class="profile__info">
              <h3>{{user.username}}</h3>
              <p>@{{user.username}}</p>
              {% if request.user == user %}
              <a href="{%url 'update-user'%}" class="btn btn--main btn--pill">Edit Profile</a>

              <a href="{%url 'delete-user'%}" class="btn btn--main btn--pill">Delete Account</a>
              {% endif %}
              
            </div>
            <div class="profile__about">
              <h3>About</h3>
              <p>
                {{user.bio}}
              </p>
            </div>
          </div>
        </div>

        

        <div class="container4">
          <div class="roomList__header">
            <h2>Events Hosted by {{ user.username }}</h2>
          </div>
          <div>
            <!-- Use the feed_component.html but pass only the filtered rooms -->
            {% include 'base/feed_component.html' with rooms=rooms_hosted_by_user %}
          </div>


          <div>

            {% include 'base/activity_component.html' %} 
          </div>
        </div>


       </div> 
      <!-- Room List End -->


  </main>

  {% endblock content %}