<div class="activities__top">
  <span>{{user.username}}'s Recent Activities</span>
</div>

<div class="activities">


  <div class="activities__list">
    <!-- Start of individual activities -->
    {% for room in activities %}
      {% if room.is_upcoming %}
        <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
              Hosted By:
              <div class="avatar avatar--small">
                <img src="{{ room.host.avatar.url }}" alt="{{ room.host.username }}'s avatar" />
              </div>
                <strong>@{{ room.host.username }}</strong> 
            </a>
          </div>

          <div class="activity_name">
            <a href="{% url 'room' room.id %}" class="">
              <p>{{ room.name }}</p>
            </a>

          </div>

          <div class="activities__boxContent">
            <p><strong>Location:</strong> {{ room.location }}</p>
            <p><strong>Date:</strong> {{ room.date }}</p>
            <p><strong>Start Time:</strong> {{ room.start_time }}</p>
            <p><strong>End Time:</strong> {{ room.end_time }}</p>
            <p><strong>Pax:</strong> {{ room.participants.all.count }}/{{ room.pax_required }}</p>
          </div>
        </div>

      {% else %}

      <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
          <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
            Hosted By:
            <div class="avatar avatar--small">
              <img src="{{ room.host.avatar.url }}" alt="{{ room.host.username }}'s avatar" />
            </div>
              <strong>@{{ room.host.username }}</strong> 
          </a>
        </div>

        <div class="activity_name">
          <a href="{% url 'room' room.id %}" class="">
            <p>{{ room.name }}</p>
          </a>

        </div>

        <div class="activities__boxContent">
          <p><strong>Location:</strong> {{ room.location }}</p>
          <p><strong>Date:</strong> {{ room.date }}</p>
          <p><strong>Start Time:</strong> {{ room.start_time }}</p>
          <p><strong>End Time:</strong> {{ room.end_time }}</p>
          <h2>Event Expired</h2>
        </div>

      </div>
      {% endif %}


    {% endfor %}
    <!-- End of individual activities -->
  </div>
</div>








